@font-face {
  font-family: "TheYearofHandicrafts";
  src: url("./assets/fonts/OTF/TheYearofHandicrafts-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TheYearofHandicrafts";
  src: url("./assets/fonts/OTF/TheYearofHandicrafts-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TheYearofHandicrafts";
  src: url("./assets/fonts/OTF/TheYearofHandicrafts-SemiBold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TheYearofHandicrafts";
  src: url("./assets/fonts/OTF/TheYearofHandicrafts-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TheYearofHandicrafts";
  src: url("./assets/fonts/OTF/TheYearofHandicrafts-Black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #fdfbf7;
  color: #1e293b;
  font-family: "TheYearofHandicrafts", sans-serif;
}

.bg-dots {
  background-image: radial-gradient(#d1d5db 2px, transparent 2px);
  background-size: 40px 40px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar { display: none; } .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
